@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Basis Grotesque Pro', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedor {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.titulo-seccion {
  text-align: center;
  margin-bottom: 4rem;
}

.titulo-seccion h2 {
  color: #000000;
  font-size: 5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.titulo-seccion p {
  color: #000000;
  font-weight: lighter;
  font-size: 1.6rem;
  padding-left: 3px;
}

.menu-bar-pc {
  width: 100%;
  min-height: 6.8rem;
  background-color: #000000;
  padding: 0 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
  background-attachment: fixed;
}

.logo {
  display: inline-block;
  width: 5rem;
}

.logo img {
  width: 100%;
  vertical-align: top;
}

.menu-principal a,
.top-redes a {
  display: inline-block;
  padding: 0 1rem;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: regular;
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.5;
  -webkit-transition: all .3 ease;
  transition: all .3 ease;
}

.menu-principal a:last-child, .menu-principal a:last-child,
.top-redes a:last-child,
.top-redes a:last-child {
  padding-right: 0;
}

.menu-principal a:hover,
.top-redes a:hover {
  color: #F4A218;
}

.top-redes a i {
  font-size: 2rem;
}

.fixed-header {
  width: 100%;
  min-height: 6.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0 3.6rem;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: -6.8rem;
}

.fixed-header .menu-principal a,
.fixed-header .top-redes a {
  color: #000000;
}

.menu-principal a:hover,
.top-redes a:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #FFFFFF;
}

.menu-mobile {
  display: none;
}

.main {
  width: 100%;
  margin-top: -6.8rem;
}

.main .banner-principal {
  width: 100%;
  position: relative;
}

.main .banner-principal .banner {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main .banner-principal .texto-banner {
  display: inline-block;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.main .banner-principal .texto-banner h1 {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 9.7rem;
  line-height: 1rem;
  margin-bottom: 3rem;
}

.main .banner-principal .texto-banner h2 {
  font-weight: regular;
  color: #FFFFFF;
  font-size: 3.9rem;
  line-height: 9rem;
}

.main .banner-principal .texto-banner a {
  text-decoration: none;
  display: inline-block;
  padding: 0.8rem 2rem;
  background: #000000;
  color: #FFFFFF;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  font-size: 1.8rem;
  border-radius: 3px;
}

.main .banner-principal .texto-banner a:hover {
  background: #000000;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #FFFFFF;
}

.texto-banner {
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.point-break {
  background-color: #FFFFFF;
  padding: 10.8rem 0 5.4rem 0;
}

.galeria-point-break {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3.4rem;
  border-bottom: 1px solid #ccc;
}

.galeria-point-break .point-breaks {
  width: 32%;
  margin-bottom: 2%;
  cursor: pointer;
}

.galeria-point-break .point-breaks img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  border-radius: 3px;
}

.main .acerca-de {
  background: #FFFFFF;
}

.main .acerca-de .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .acerca-de .contenedor .titulo-seccion {
  width: 33.33%;
  text-align: left;
}

.main .acerca-de .contenedor .titulo-seccion h2 {
  margin-bottom: 0;
}

.main .acerca-de .texto-acerca-de {
  width: 66.66%;
  text-align: left;
}

.main .acerca-de .texto-acerca-de p {
  color: #000000;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 1.5;
}

.main .contenedor-slider {
  width: 100%;
  overflow: hidden;
  background: #FFFFFF;
  padding: 54px 0;
  position: relative;
}

.main .contenedor-slider .slider {
  width: 400%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .contenedor-slider .slider .slide {
  width: 15%;
  max-width: 95rem;
  margin-right: 0.7%;
}

.main .contenedor-slider .slider .slide img {
  width: 100%;
  vertical-align: top;
  border-radius: 3px;
}

.main .contenedor-slider .btn-anterior, .main .contenedor-slider .btn-siguiente {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .contenedor-slider .btn-anterior {
  left: 2%;
}

.main .contenedor-slider .btn-siguiente {
  right: 2%;
}

.main .contenedor-slider .btn-anterior i, .main .contenedor-slider .btn-siguiente i {
  color: #fff;
}

.main .contenedor-slider .btn-anterior i:hover, .main .contenedor-slider .btn-siguiente i:hover {
  color: #000000;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.main .info-extra {
  background: #191919;
  padding: 130px 0;
}

.main .info-extra .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .info-extra .contenedor .info {
  width: 45%;
}

.main .info-extra .contenedor .info .contenido-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .info-extra .contenedor .info .contenido-info:first-child {
  margin-bottom: 30px;
}

.main .info-extra .contenedor .info .contenido-info .icono-info {
  width: 5%;
  padding-top: 7px;
}

.main .info-extra .contenedor .info .contenido-info .icono-info i {
  font-size: 1.5rem;
  color: #fff;
}

.main .info-extra .contenedor .info .contenido-info .texto-info {
  margin-left: 3%;
}

.main .info-extra .contenedor .info .contenido-info .texto-info h4 {
  font-size: 1.8rem;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.main .info-extra .contenedor .info .contenido-info .texto-info p {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 1.5;
}

.main .info-extra .contenedor .foto {
  width: 50%;
  height: 30rem;
  -webkit-box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
  margin-left: 4rem;
}

.main .contacto {
  padding: 19rem 0;
  background-image: url("/img/2f.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main .contacto .contenedor-formulario {
  background: #fff;
  min-height: 48.5rem;
  border-radius: 3px;
  -webkit-box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .contacto .contenedor-formulario .formulario {
  width: 50%;
  padding: 7rem;
}

.main .contacto .contenedor-formulario .formulario h2 {
  font-size: 2.2rem;
  line-height: 24px;
  color: #0089E0;
  font-weight: bold;
  margin-bottom: 1rem;
}

.main .contacto .contenedor-formulario .formulario p {
  color: #000000;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 3rem;
  padding-left: 3px;
}

.main .contacto .contenedor-formulario .formulario form input[type="text"], .main .contacto .contenedor-formulario .formulario form input[type="email"] {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  color: #979797;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.main .contacto .contenedor-formulario .formulario form textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  outline: none;
  width: 100%;
  max-width: 100%;
  max-height: 88px;
  min-height: 88px;
  color: #979797;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
}

.main .contacto .contenedor-formulario .formulario form input[type="submit"] {
  width: 100%;
  border: none;
  border: 1px solid #0089E0;
  padding: 8px;
  background: #0089E0;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.main .contacto .contenedor-formulario .formulario form input[type="submit"]:hover {
  background: #fff;
  color: #0089E0;
}

.main .contacto .contenedor-formulario .foto {
  width: 50%;
  background-image: url("/img/1f.jpg");
  background-size: cover;
  border-radius: 3px;
  background-position: right;
}

/* ------ PIE DE PÁGINA ------ */
footer {
  background: #000000;
  padding: 5.4rem 0;
  text-align: center;
}

footer .copy {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: lighter;
  margin-bottom: 1.5rem;
}

footer .footer-redes a {
  display: inline-block;
  padding: 0 10px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.5em;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer .footer-redes a:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #FFFFFF;
}

.footer-redes a i {
  font-size: 2rem;
}

/* ----- MEDIA QUERIES ----- */
@media screen and (max-width: 1040px) {
  /*Sección información extra*/
  .main .info-extra .contenedor .info {
    display: none;
  }
  .main .info-extra .contenedor .foto {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  /*Encabezado*/
  .menu-bar-pc {
    display: none;
  }
  .menu-mobile {
    display: block;
    width: 100%;
    padding: 5px 18px;
    background: #fff;
    color: #444444;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .menu-mobile .barra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-mobile .barra .logo {
    width: 40px;
  }
  .menu-mobile .barra a i {
    font-size: 1.4rem;
    color: #444444;
  }
  .menu-mobile .menu-principal {
    width: 80%;
    display: block;
    position: fixed;
    top: 56px;
    left: -100%;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    border-right: 1px solid rgba(204, 204, 204, 0.5);
    -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.2);
    background: #fff;
    text-align: center;
  }
  .menu-mobile .menu-principal a {
    display: block;
    padding: 10px;
    color: #000000;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  }
  .menu-mobile .menu-principal a:hover {
    background: #f7f7f7;
  }
  .fixed-header {
    display: none;
  }
  /*Main*/
  .main {
    margin-top: 0;
  }
  /*Acerca de*/
  .main .acerca-de .contenedor .titulo-seccion, .main .acerca-de .contenedor .texto-acerca-de {
    width: 100%;
    text-align: center;
  }
  .main .acerca-de .contenedor .titulo-seccion .main .info-extra .contenedor .foto, .main .acerca-de .contenedor .texto-acerca-de .main .info-extra .contenedor .foto {
    width: 80%;
  }
  /*Contacto*/
  .main .contacto .contenedor-formulario .formulario {
    width: 100%;
    text-align: center;
  }
  .main .contacto .contenedor-formulario .foto {
    display: none;
  }
  .main .contacto .contenedor-formulario .formulario form input[type="text"], .main .contacto .contenedor-formulario .formulario form input[type="email"], .main .contacto .contenedor-formulario .formulario form textarea {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  /*Banner principal*/
  .main .banner-principal .texto-banner h1 {
    font-size: 4rem;
  }
  /*Titulo secciones*/
  .titulo-seccion h2 {
    font-size: 2.125rem;
  }
  /*Proyectos*/
  .galeria-point-break .point-breaks {
    width: 49%;
  }
  /*Sección información extra*/
  .main .info-extra .contenedor .info .contenido-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .main .info-extra .contenedor .foto {
    width: 100%;
  }
  .main .info-extra .contenedor .foto {
    height: 30rem;
    margin-left: 0;
  }
  .main .info-extra .contenedor .info .contenido-info .icono-info {
    width: 100%;
    margin-bottom: 25px;
  }
  .main .info-extra .contenedor .info .contenido-info .icono-info i {
    font-size: 3.5rem;
  }
  .main .info-extra .contenedor .info .contenido-info .texto-info {
    margin-left: 0;
  }
  .main .info-extra .contenedor .info .contenido-info .texto-info h4 {
    font-size: 1.175rem;
  }
  .main .info-extra .contenedor .info .contenido-info:first-child {
    margin-bottom: 40px;
  }
  /*Contacto*/
  .main .contacto .contenedor-formulario .formulario {
    padding: 70px 40px;
  }
}

/*
.wrapper{
    height: 100vh;
}

.content-area{
    width: 1170px;
    margin: 0 auto;
}


.content-text{
    width: 520px;
    margin: 140px auto;
    text-align: center;
}
*/
/*# sourceMappingURL=style.css.map */