@import "base/base";
@import "base/header";
@import "base/main";
@import "base/animation";


/*
.wrapper{
    height: 100vh;
}

.content-area{
    width: 1170px;
    margin: 0 auto;
}


.content-text{
    width: 520px;
    margin: 140px auto;
    text-align: center;
}
*/